.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.input {
  min-height: 70px;
  max-width: 400px;
  padding: 0 1rem;
  color: #fff;
  font-size: 15px;
  border: 1px solid #5e4dcd;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}

.button--submit {
  min-height: 70px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: greenyellow;
  color: black;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
